$bg-blue: hsl(226, 43%, 10%);
$primary: hsl(235, 46%, 20%);
// for main card
$primary-light: hsl(246, 80%, 60%);
// for hover
$secondary: hsl(235, 45%, 61%);
$secondary-light: hsl(236, 100%, 87%);

// work
$red: hsl(15, 100%, 70%);
// play
$light-blue: hsl(195, 74%, 62%);
// study
$red-light: hsl(348, 100%, 68%);
// exercise
$green: hsl(145, 58%, 55%);
// social
$violet: hsl(264, 64%, 52%);
// self care
$orange: hsl(43, 84%, 65%);

// Desktop width: 1024px
// Mobile width: 768px
